@import 'colors';
@import 'formats';

body{
    margin: 0;
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.header{
    grid-row: 1;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: $header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $med 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    a{
        text-decoration: none;
        color: $logo;
    }

    .logo{
        font-size: $logosize;
        padding-left: $med;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        img{
            height: 50px;
            padding-right: $min;
        }
    }

    ul{
        display: flex;
        list-style: none;

        a{
            color: $link;
            padding: 0 $med;
        }

        a:hover{
            color: darken($link, $amount);
        }
    }
    
}

main{
    grid-row: 2;
    text-align: center;
    h2{
        color: $logo;
        font-size: 1.6rem;
    }
    .hero{
        margin-top: 90px;
        background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0') no-repeat center center/cover;
        height: 93vh;
        color: $testo;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            margin-bottom: $min;
            font-size: 3rem;
        }
        button{
            border-radius: $bottone;
            padding: $min $med;
            color: $testo;
            font-size: 1.2rem;
            background: $header;
            border: none;
        }
        button:hover{
            background-color: darken($header, $amount);
        }
    }
    /*.about*/
    /*centrare il testo e h2*/
    .about,  
    .contact{
        padding: $section;
        p{
            color: $text;
        }
    }
    .about{
        p{
            font-size: 1.1rem;
        }
    }

    #progetti{
        margin: $section 0 0 0;
    }

    .projects{
        
        padding: $med 50px 50px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .progetto1,
        .progetto2,
        .progetto3,
        .progetto4,
        .progetto5,
        .progetto6{
            border: 1px solid $link;
            border-radius: $progetti;
            h3{
                color: $logo;
            }
        }
    }
    /*.projects*/
    /*devono avere un hover che zoomma, ha un  ombra di base a quando viene hover diventa piu 
    grande quindi credo con una transition all'ombreggiatura 
    poi devono essere tutte di una certa grandezza e devono starcene 3 per riga quindi usare un wrap*/
    /*testo e h3 centrati*/

    /*.progetto1*/
    
    /*.immagini*/
    /*devono essere di una certa altezza e object-fit cover*/

    /*.contact*/
    /*titolo h2 centrato*/
    /*style al form
    bottone deve essere centrato*/
}

/*footer grid 3*/
footer{
    grid-row: 3;
    /*centrare il p*/
    /*icone social space around*/
    background-color: $footer;
}